<form action='/events/create' method='POST'>
  <input title="Name" type='text' name='user[organizer_name]' placeholder='Name (must be at least 5 characters)'  > </br>
  <input title="Email" type='text' name='user[organizer_email]' placeholder='Email (format: dan@email.com)'  > </br>
  <input title="Event Title" type='text' name='user[title]' placeholder='Event Title'  > </br>
  <input title="Date" type='text' name='user[date]' placeholder='Date (format: mm/dd/year)'  > </br>
  <input type='Submit' value='Save Event'  > </br>
</form>

 